JWT_SECRET='toipham1101'
POSTGRES_HOST='localhost:5432'
POSTGRES_USER='admin'
POSTGRES_PASSWORD='123456'
PORT=8080
POSTGRES_DB=ecom
ELASTICSEARCH_NODE='http://localhost:9200'
ELASTICSEARCH_PRODUCT_INDEX='products'
ELASTICSEARCH_BLOG_INDEX='blogs'
ELASTICSEARCH_USER_INDEX='users'
CLIENT_URL="http://localhost:3000"
EX_TIME_ACCESS="30m"
EX_TIME_REFRESH="1d"