html
  head
    title Welcome to Expense App

  body
    h1 Hello #{username},

    p Welcome to our Expense App! We are glad to have you on board.

    p If you have any questions or need assistance, feel free to reach out to us.

    p Best regards,
    p The Expense App Team
